{% include 'header/header.html.twig' %}

<div class="name-project"><span style="position:relative;top:5px;">Cr&eacute;er une session</span></div>
<div class="my-form">
	{{myFormCreate | raw}}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/CleverManagement/assets/javascript/select2.js"></script>
<script src="/Clevermanagement/assets/javascript/script.js"></script>

{% include 'footer/footer.html.twig' %}