{% include 'header/header.html.twig' %}

<div class="my-form">
	{{myFormEdit | raw}}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/clevermanagement/assets/javascript/select2.js"></script>
<script src="/clevermanagement/assets/javascript/script.js"></script>

{% include 'footer/footer.html.twig' %}