<!doctype html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
  		<title>Clever Management - Make your projects crystal</title>
  		<link rel="stylesheet" type="text/css" href="main.css">
  		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/CleverManagement/assets/styles/bootstrap.css">
		<link rel="stylesheet" href="/CleverManagement/assets/styles/main.css">
	</head>
 	<body>
 		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#"><img src="/CleverManagement/assets/images/logo.png"></a>
		    <ul class="nav">
		      <li><a href="/CleverManagement">Accueil</a></li>
		      <li><a href="deconnection">Deconnexion</a></li>
		    </ul>
		  </div>
		</div>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2 sidebar">
		    	<ul class="span2 sidebar-menu">
		    		<a href="new-project.php">
		    			<a href="/CleverManagement/create" class="text-li-sidebar">
		    				<li class="current">
		    					<span class="text-li-sidebar" style="font-weight:bold;">Nouveau projet</span>
		    				</li>
		    			</a>
		    		</a>
		    		<a href="/CleverManagement/directory/create" class="text-li-sidebar">
		    			<li>
		    				<span class="text-li-sidebar" style="font-style:italic">Nouveau dossier</span>
		    			</li>
		    		</a>
		    		{% for directory in directories %}
		    		<a href="/CleverManagement/directory/{{directory.id}}/show" class="text-li-sidebar">
		    			<li>
		    				<span class="text-li-sidebar">
		    					{{directory.name}}
		    				</span>
		    			</li>
		    		</a>
		    		{% endfor %}
		    	</ul>
		      <!--Sidebar content-->
		    </div>