<!doctype html>
<html lang="en">
<head>
  		<title>Clever Management - Make your projects crystal</title>
  		<link rel="stylesheet" type="text/css" href="main.css">
  		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/CleverManagement/assets/styles/bootstrap.css">
		<link rel="stylesheet" href="/CleverManagement/assets/styles/main.css">
		<link rel="stylesheet" href="/CleverManagement/assets/styles/select2.css">
	</head>
 	<body>
 		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="/CleverManagement/"><img src="/CleverManagement/assets/images/logo.png"></a>
		    <ul class="nav">
		      <li><a href="/CleverManagement/">Accueil</a></li>
		      <li><a href="/CleverManagement/deconnection">Deconnexion</a></li>
		    </ul>
		  </div>
		</div>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2 sidebar">
		    	<ul class="span2 sidebar-menu">
		    		<a href="new-project.php">
		    			<li class="current">
		    				<span class="text-li-sidebar">
		    					<a href="/CleverManagement/create" class="text-li-sidebar">Nouveau projet</a>
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Add Directory
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 1
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 2
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 3
		    				</span>
		    			</li>
		    		</a>
		    	</ul>
		      <!--Sidebar content-->
		    </div>
		    <div class="my-form">
		    	{{myFormCreate | raw}}
		    </div>
		    
		    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		    <script src="/CleverManagement/assets/javascript/select2.js"></script>
		    <script src="/CleverManagement/assets/javascript/script.js"></script>
		    </body>
</html>
