{% include 'header/header.html.twig' %}
<div class="name-project"><span style="position:relative;top:5px;">Cr&eacute;er un projet</span></div>
<a href="/CleverManagement/"><img src="/clevermanagement/assets/images/arrow-back.png" alt="back"></a>
<div class="my-form">
	{{myFormCreate | raw}}
	{{errorName | raw}}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/CleverManagement/assets/javascript/select2.js"></script>
<script src="/CleverManagement/assets/javascript/script.js"></script>
    
{% include 'footer/footer.html.twig' %}