<!doctype html>
<html lang="en">
<head>
  		<title>Clever Management - Make your projects crystal</title>
  		<link rel="stylesheet" type="text/css" href="main.css">
  		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="assets/styles/bootstrap.css">
		<link rel="stylesheet" href="assets/styles/main.css">
	</head>
 	<body>
 		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#"><img src="assets/images/logo.png"></a>
		    <ul class="nav">
		      <li><a href="signup">Log In</a></li>
		      <li><a href="">Dashboard</a></li>
		    </ul>
		  </div>
		</div>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2 sidebar">
		    	<ul class="span2 sidebar-menu">
		    		<a href="new-project.php">
		    			<li class="current">
		    				<span class="text-li-sidebar">
		    					<a href="/CleverManagement/create" class="text-li-sidebar">Nouveau projet</a>
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Add Directory
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 1
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 2
		    				</span>
		    			</li>
		    		</a>
		    		<a href="">
		    			<li>
		    				<span class="text-li-sidebar">
		    					Directory 3
		    				</span>
		    			</li>
		    		</a>
		    	</ul>
		      <!--Sidebar content-->
		    </div>
	<h3>Edit Post</h3>

	<form action="/CleverManagement/{{ project.id }}/edit" method="POST">
	    <input type="text" name="name" placeholder="name" value="{{ project.name }}"/>
	    <br>
	    {% if errors['name.empty'] is defined %}
	        <span style="color:#ff0000;">{{ errors['name.empty'] }}</span>
	    {% endif %}
	    <br>
	    <textarea name="description">{{ project.description }}</textarea>
	    <input type="submit" value="submit"/>
	</form>
</body>
</html>


