<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Walrus welcome page</title>
</head>
<body>
<a href="/CleverManagement/project/create">Nouveau</a><br>
{% for project in projects %}
	{{project.name}}&nbsp;<a href="/Clevermanagement/project/{{project.id}}/delete">Supprimer</a><br>

	<a href="/Clevermanagement/project/{{project.id}}/edit">Editer</a><br>
{% endfor %}
</body>
</html>
