<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Walrus welcome page</title>
</head>
<body>
<h1>Test : {{test}}</h1>
<a href="/CleverManagement/project/create">Nouveau</a>
</body>
</html>
