<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CleverManagement</title>
</head>
<body>
	<a href="/CleverManagement/create">Nouveau projet</a><br><br>
	<table>
	{% for project in projects %}
		<tr>
			<td>{{project.name}}</td>
			<td><a href="/CleverManagement/{{project.id}}/show">Voir</a></td>
			<td><a href="/CleverManagement/{{project.id}}/delete">Supprimer</a></td>
			<td><a href="/CleverManagement/{{project.id}}/edit">Editer</a></td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>
