{% include 'header/header.html.twig' %}

<div class="name-project"><span style="position:relative;top:5px;">Créer une étape</span></div>
<div class="my-form">
	{{myFormCreate | raw}}
	<br><br>
	<a href="/CleverManagement/{{project_id}}/show"><img src="/clevermanagement/assets/images/arrow-back.png" alt="back"></a>
</div>

{% include 'footer/footer.html.twig' %}