<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="CleverManagement/app/www/assets/styles/bootstrap.css">
    <title>Walrus welcome page</title>
</head>
<body>
<h1>Sign up</h1>
</body>
</html>
